* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.navbar {
  margin: 5%;
}
.link {
  margin: 2em;
  font-size: 2em;
  text-decoration: none;
  color: black;
}
.link:hover {
  color: darkslategrey;
  border-bottom: solid 1px;
}
.todo-list {
  margin: 5%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid grey;
  border-radius: 15%;
  box-shadow: 0 3px grey;
  margin: 0.6em;
  padding: 0.5em;
}
.sub {
  display: flex;
}
.todo-row.checked {
  background-color: rgb(35, 165, 35);
}
.todo {
  margin-right: 5px;
  margin-left: 5px;
}
.btn {
  width: 1.3em;
}
