* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.navbar {
  margin: 5%;
}
.link {
  margin: 2em;
  font-size: 2em;
  text-decoration: none;
  color: black;
}
.link:hover {
  color: darkslategrey;
  border-bottom: solid 1px;
}
.todo-list {
  margin: 5%;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.todo-row {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid grey;
  border-radius: 15%;
  box-shadow: 0 0 10px grey;
  margin: 0.6em;
  padding: 0.5em;
}
.sub {
  display: flex;
}
.todo-row.checked { 
  border: 1.5px solid rgb(35, 165, 35);
  box-shadow: 0 0 10px rgb(35, 165, 35);
}
.todo {
  margin-right: 5px;
  margin-left: 5px;
}
.delete-icon{
  transform: scale(0.9);
  transition: 0.2s;
}
.add-task{
  width:35%;
  height: 2em;
  border-radius: 10%;
  
}
input:focus, textarea:focus {   
     outline: none !important; 
     border-color: #719ECE;    
     box-shadow: 0 0 10px #719ECE;
}
.btn-add{
  height: 2em;
  width: 4.5em;
  border-radius: 25%;
  background-color: transparent;
  border-color:dodgerblue
}
.btn-add-selected{
  background-color: dodgerblue;
}
.btn-clean{
  margin: 2em;
  background-color: transparent;
  border-radius: 10%;
  border-color: red;
  color: red;
}